USE [master]
GO
/****** Object:  Database [try]    Script Date: 18.04.2022 15:37:55 ******/
CREATE DATABASE [try]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'try', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\try.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'try_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\try_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [try].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [try]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 18.04.2022 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[licenseData] [date] NULL,
	[expireDate] [date] NULL,
	[categories] [nvarchar](50) NULL,
	[licenseSeries] [nchar](5) NULL,
	[licenseNumber] [nchar](6) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Licenses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Водители]    Script Date: 18.04.2022 15:37:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Водители](
	[ИдентификаторGUID] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Паспорт] [nvarchar](50) NOT NULL,
	[АдресРегистрации] [nvarchar](50) NOT NULL,
	[АдресПроживания] [nvarchar](50) NOT NULL,
	[МестоРаботы] [nvarchar](50) NOT NULL,
	[Должность] [nvarchar](50) NOT NULL,
	[МобильныйТелефон] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Фотография] [nvarchar](50) NOT NULL,
	[Замечания] [nvarchar](50) NULL,
	[Архив] [bit] NULL,
 CONSTRAINT [PK_Водители] PRIMARY KEY CLUSTERED 
(
	[ИдентификаторGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Водители] ON 

INSERT [dbo].[Водители] ([ИдентификаторGUID], [Фамилия], [Имя], [Отчество], [Паспорт], [АдресРегистрации], [АдресПроживания], [МестоРаботы], [Должность], [МобильныйТелефон], [Email], [Фотография], [Замечания], [Архив]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', N'2303 160716', N'452 Cobblestone St.,760832', N'452 Cobblestone St.,760832', N'Global Gillette', N'Reporter', N'9703838933', N'skippy@icloud.com', N'001-happy-18.png', N'', 0)
INSERT [dbo].[Водители] ([ИдентификаторGUID], [Фамилия], [Имя], [Отчество], [Паспорт], [АдресРегистрации], [АдресПроживания], [МестоРаботы], [Должность], [МобильныйТелефон], [Email], [Фотография], [Замечания], [Архив]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', N'5563 160745', N'Hyattsville, MD 20782,807042', N'Hyattsville, MD 20782,807042', N'Coca-Cola', N'Elementary School Teacher', N'8677084447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'', 0)
INSERT [dbo].[Водители] ([ИдентификаторGUID], [Фамилия], [Имя], [Отчество], [Паспорт], [АдресРегистрации], [АдресПроживания], [МестоРаботы], [Должность], [МобильныйТелефон], [Email], [Фотография], [Замечания], [Архив]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', N'3719 717453', N'9648 Philmont Lane,83282', N'9648 Philmont Lane,83282', N'Harley-Davidson Motor Company', N'Childcare worker', N'2214287850', N'isaacson@att.net', N'003-happy-17.png', N'', 0)
GO
SET IDENTITY_INSERT [dbo].[Водители] OFF
GO
USE [master]
GO
